/* .App { */
  /* text-align: left; */
  /* padding: 25px; */
  /* height: 100px; */
  /* height: 1000px; */
  /* background-image:url('/public/download.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-color: #61dafb; */
/* }
.navbar{
  height: 80px;
  background-color: #61dafb;
  list-style-type:none ;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;

  align-content: space-between;
}
.navbar>li{
  padding-right: 40px;
}
#logo{
  color: red;
  font-size: 50px;
  font-weight: 500;
} */
